:host{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

a{
  margin-top: 20px;
  font-weight: 500;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
