<a routerLink="/catalog" class="button-volver"> < VOLVER AL CATALOGO</a>
<div class="card">
  <img src="../../assets/items/keyboard.jpg" alt="" class="product-img">
  <div class="bottom-card">
    <div class="info">
      <div class="name-and-description">
        <span class="name">Keyboard</span>
        <span class="description">Descripción corta del producto</span>
      </div>
      <div class="price-and-button">
        <span class="price">170$</span>
        <button><img src="../../assets/plus-solid.svg" alt="add"> Añadir al carrito</button>
      </div>

    </div>

  </div>
</div>


